﻿<div id="logo"><a href="#">
    <img src="~/assets/images/logo.png" alt="Brighton Sausage Co., Est. 2006" border="0" /></a></div>
<div id="top">
    <div id="navsection">
        <div id="baskettemp">&nbsp;</div>

        @*<div id="basketbox">
            <div id="basket"><a href="#">
                <img src="~/assets/images/basket.jpg" alt="Basket" border="0" /></a></div>
            <div id="viewbasket"><a href="#">View Basket</a></div>
            <div id="numitems">5 Items</div>
            <div id="basketboxtotal">&pound;19.00</div>
            <div id="checkoutbtn"><a href="#">
                <img src="~/assets/images/checkout.png" alt="CHECKOUT" border="0" /></a></div>
        </div>*@
        @Html.Partial("DisplayTemplates/Navigation")
        
        @RenderSection("AdminSubNav", true)

    </div>
</div>
<!-- /top -->
