﻿<div class="row pull-right span5 offset4">
    <ul class="nav nav-pills">
        <li><a href="#">View Basket</a></li>
        <li><a href="#">5 Items</a></li>
        <li><a href="#">£11.00</a></li>
        <li><a href="#">Checkout</a></li>
    </ul>
</div>
