﻿@{
    var version = typeof(BrightonSausageCoEcomms.MvcApplication).Assembly.GetName().Version;
}
<!-- FOOTER -->
<div id="footer">
    <div id="footercontent">
        <div id="footerleft">
            @Html.Partial("DisplayTemplates/Navigation")
            <p class="footerdetails"><a href="#">Terms &amp; Conditions</a> &ndash; <a href="#">Privacy Policy</a> &ndash; Copyright Brighton Sausage Co. &copy; 2012</p>
        </div>
        <!-- /footerleft -->

        <div id="footerright">
            version: @version
        </div>
        <!-- /footerright -->
    </div>
    <!-- /footercontent -->
</div>
<!-- /footer -->
