﻿<div class="nav" id="nav">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Products", "Index", "Products")</li>
        <li>@Html.ActionLink("Clients/Suppliers", "Index", "ClientsSuppliers")</li>
        <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
        <li>@Html.ActionLink("About", "Index", "About")</li>
    </ul>
</div>
