﻿@model List<BrightonSausageCoEcomms.Infrastructure.Models.Category>
<div id="left">
    <div class="leftmenu leftmenufirst">
        <p class="leftmenutext">
            <a href="#" id="">
                <img src="~/assets/images/refine.jpg" alt="REFINE RESULTS" border="0" /></a>
        </p>
        <p class="leftmenuarrow">
            <a href="#" id="">
                <img src="~/assets/images/expand.jpg" alt="" border="0" /></a>
        </p>
    </div>
    <!-- /leftmenu -->
    <div class="leftmenu">
        <p class="leftmenutext">
            <a href="#" id="">
                <img src="~/assets/images/browse.jpg" alt="BROWSE SHOP" border="0" /></a>
        </p>
        <p class="leftmenuarrow">
            <a href="#" id="">
                <img src="~/assets/images/collapse.jpg" alt="" border="0" /></a>
        </p>
    </div>
    <!-- /leftmenu -->
    <div class="leftmenuresults" id="">
        <ul>
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                <li>@Html.ActionLink(Model[i].Name, "Index", "Products", new { categoryFilter = Model[i].Name }, new { @class = "stripe" })</li>
                }
                else
                {
                <li>@Html.ActionLink(Model[i].Name, "Index", "Products", new { categoryFilter = Model[i].Name }, null)</li>
                }
            }
        </ul>
    </div>
    <!-- /leftmenuresults -->
    <div id="shorthr"></div>

    <!-- TESTIMONIALS -->
    <div id="smallboxtop"></div>
    <div id="smallbox">
        <div id="testimonial">
            <p class="test">
                GREAT VARIETY...<br />
                BEST SAUSAGES I HAVE<br />
                EVER TASTED!
            </p>
            <div id="dottedhr"></div>
            <p class="more">
                <a href="#">
                    <img src="~/assets/images/findoutmore.jpg" alt="FIND OUT MORE" border="0" /></a>
            </p>
        </div>
    </div>
    <div id="smallboxbottom"></div>
    <!-- /TESTIMONIALS -->
</div>
<!-- /left -->
