﻿@model BrightonSausageCoEcomms.ViewModels.Products.ProductsHomepageViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("DisplayTemplates/ProductCategoriesNavigation", Model.Categories)
<div id="right">
    <div id="righttop">
        <div class="righttopprice">
            <img src="~/assets/images/price.jpg" alt="PRICE" />
        </div>
        <div class="righttoppriceorder">
            <a href="#">
                <img src="~/assets/images/orderup.png" alt="" border="0" class="glow" /></a>
            <a href="#">
                <img src="~/assets/images/orderdown.png" alt="" border="0" class="glow" /></a>
        </div>
        <div class="righttopresults">
            <img src="~/assets/images/showresults.jpg" alt="SHOW RESULTS" style="margin: 0 8px 0 0" />
            <select name="numresults" id="numresults" class="numresults">
                <option value="20">20</option>
                <option value="20">40</option>
                <option value="20">60</option>
                <option value="20">80</option>
            </select>
        </div>
    </div>
    <!-- /righttop -->
    <div class="sep"></div>

    @if (Model.Products.Any())
    {
        foreach (var product in Model.Products)
        {

        <!-- PRODUCT LISTING -->
        <div class="productbgtop"></div>
        <div class="productbg">
            <div class="productdetails">
                <p class="producttitle">@product.Name</p>
                <p class="productprice">&pound;@product.Price /KG</p>
                <p class="producttext">
                    @product.Description
                </p>
                <div class="moreinfo">
                    <a href="@Url.Action("Product", new { productSlug = product.Slug })" id="@product.Slug" alt="@product.Slug">
                        <img src="~/assets/images/moreinfoblue.jpg" alt="MORE INFO" border="0" /></a>
                </div>
                <div class="addtobasket">
                    @*<a href="#">
                        <img src="~/assets/images/addtobasket.jpg" alt="ADD TO BASKET" border="0" /></a>*@
                </div>
               @* <input class="weight" type="text" />
                <div class="weightkg">KG</div>*@
            </div>
            <div class="productimg">
                @if (product.Images.Any())
                {
                    <a href="@Url.Action("Product", new { productSlug = product.Slug })">
                        <img src="~/content/Uploaded/@product.Images.OrderBy(x=>x.DisplayOrder).ToList()[0].StoredFileName" border="0" />
                    </a>
                }
            </div>
        </div>
        <div class="productbgbottom"></div>
        <!-- /PRODUCT LISTING -->

        <div class="sep"></div>

        }
    }

    <!-- PAGINATION -->
    <div id="pagination">
        <ul>
            <li><a href="#" class="pagedir">&laquo;</a></li>
            <li><a href="#" class="pagenum">1</a></li>
            <li><a href="#" class="pagenum">2</a></li>
            <li><a href="#" class="pagenumcurrent">3</a></li>
            <li><a href="#" class="pagenum">4</a></li>
            <li><a href="#" class="pagenum">5</a></li>
            <li><a href="#" class="pagedir">&raquo;</a></li>
        </ul>
    </div>

</div>
<!-- /right -->





