﻿@model BrightonSausageCoEcomms.ViewModels.Products.ProductsDetailspageViewModel
@{
    ViewBag.Title = Model.Product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("DisplayTemplates/ProductCategoriesNavigation", Model.Categories.ToList())
<div id="right">
    <div id="righttop">
        <div class="righttopback">
            <a href="#">
                <img src="~/assets/images/backbutton.jpg" alt="" border="0" class="glow" /></a>
        </div>
        <div class="righttopcategory">
            <a href="#">
                <img src="~/assets/images/backtocategory.jpg" alt="BACK TO CATEGORY" border="0" /></a>
        </div>
    </div>
    <!-- /righttop -->
    <div class="sep"></div>

    <!-- PRODUCT DETAIL -->
    <div class="productbgtopplain"></div>
    <div class="productbgplain">
        <img src="~/assets/images/sausagesbig.jpg" alt="" class="productmainimage" />
        <img src="~/assets/images/shadowhr.jpg" alt="" style="margin-left: 7px" />
        <div class="productdetailswide">
            <div class="productdetailsleft">
                <p class="producttitle">
                    <h1>@ViewBag.Title</h1>
                </p>
                <p class="productprice">&pound;1.99 /KG</p>
                <img src="~/assets/images/dots.jpg" alt="" />
                <p class="fulldetails">
                    All of the main ingredients in our sausages are sourced from within the uk, and our suppliers are chosen with a keen focus on animal welfare and. All of the main ingredients in our sausages.
                </p>
                <p class="fulldetails">
                    All of the main ingredients in our sausages are sourced from within the uk, and our suppliers are chosen with a keen focus on animal welfare and...
                       
                </p>
            </div>
            <!-- /productdetailsleft -->
            <div class="productdetailsrightshadow">
               @* <div class="productdetailweight">
                    <input class="weight" type="text" id="weight" />
                    <div class="weightkg">KG</div>
                </div>
                <div class="productdetailaddtobasket">
                    <a href="#">
                        <img src="~/assets/images/addtobasket.jpg" alt="ADD TO BASKET" border="0" /></a>
                </div>*@
                <div id="additionalpics">
                    <div class="additionalframe">
                        <img src="~/assets/images/additionalpic.jpg" alt="" />
                    </div>
                    <div class="additionalframe">
                        <img src="~/assets/images/additionalpic.jpg" alt="" />
                    </div>
                    <div class="additionalframe">
                        <img src="~/assets/images/additionalpic.jpg" alt="" />
                    </div>
                    <div class="additionalframe">
                        <img src="~/assets/images/additionalpic.jpg" alt="" />
                    </div>
                </div>
            </div>
            <!-- /productdetailsrightshadow -->
            <div class="additionalinfo">
                <div class="additionalleft">
                    <p style="width: 29px; float: left; margin: 0 10px 0 0">
                        <a href="#">
                            <img src="~/assets/images/collapse.png" alt="" border="0" /></a>
                    </p>
                    <p class="producttitle" style="float: left">ADDITIONAL INFORMATION</p>
                    <div class="additionaltext">
                        <p>All of the main ingredients in our sausages are sourced from within the uk, and our suppliers are chosen with a keen focus on animal welfare and. All of the main ingredients in our sausages. All of the main ingredients in our sausages are sourced</p>
                    </div>
                </div>
                <!-- /additionalleft -->
                <div class="additionalright">
                    <p class="producttitle">INGREDIENTS</p>
                    <div class="additionaltext">
                        <ul class="ingredients">
                            <li class="stripe"><span class="ingredientleft">Pork</span><span class="ingredientright">5g</span></li>
                            <li><span class="ingredientleft">Chicken</span><span class="ingredientright">3.2g</span></li>
                            <li class="stripe"><span class="ingredientleft">Fat</span><span class="ingredientright">5g</span></li>
                            <li><span class="ingredientleft">Salt</span><span class="ingredientright">3.2g</span></li>
                            <li class="stripe"><span class="ingredientleft">Content</span><span class="ingredientright">5g</span></li>
                            <li><span class="ingredientleft">Content</span><span class="ingredientright">3.2g</span></li>
                            <li class="stripe"><span class="ingredientleft">Content</span><span class="ingredientright">5g</span></li>
                        </ul>
                    </div>
                </div>
                <!-- /additionalright -->
            </div>
            <!-- /additionalinfo -->
        </div>
        <!-- /productdetailswide -->
        <div class="productdetailswide" style="margin-top: 15px">
            <img src="~/assets/images/relatedproducts.jpg" alt="RELATED PRODUCTS" style="margin: 10px 0 10px 0" />
            <div class="additionaltext" style="width: 544px">
                <div class="relatedpic">
                    <div class="relatedpicholder">
                        <img src="~/assets/images/relatedpic.jpg" alt="" />
                    </div>
                </div>
                <div class="relatedinfo">
                    <p><strong>Spiced pork sausage</strong></p>
                    <p>All of the main ingredients in our sausages are sourced from within the uk, and our suppliers...</p>
                </div>
                <div class="relatedmoreinfo">
                    <a href="#">
                        <img src="~/assets/images/moreinfoblue.jpg" alt="MORE INFO" border="0" /></a>
                </div>
            </div>
        </div>
        <!-- /productdetailswide -->
    </div>
    <!-- /productbgplain -->
    <div class="productbgbottomplain"></div>
    <!-- /PRODUCT DETAIL -->


</div>
@*<table>
    <tr class="product">
        <td>
            @if (Model.Product.Images.Count > 0)
            {
                <img class="product-image"
                    src="/Content/Uploaded/@Model.Product.Images[0].StoredFileName" />
            }
        </td>
        <td class="data-cell">
            <div class="product-title">@Model.Product.Name</div>
            <div class="product-price">Price: £@Model.Product.Price</div>
            <br />
            <div role="button" alt="Add to cart" tabindex="0" class="googlecart-add-button">
            </div>
        </td>
    </tr>
</table>*@
