﻿@model BrightonSausageCoEcomms.ViewModels.Admin.CategoryViewModel
<ul>
    <li>
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x => x.CategoryName)
    </li>
    <li>
        @Html.LabelFor(x => x.Featured)
        @Html.CheckBoxFor(x => x.Featured)
    </li>
    <li>
        @Html.LabelFor(x => x.Enabled)
        @Html.CheckBoxFor(x => x.Enabled)
        @Html.HiddenFor(x => x.Slug)
        @Html.HiddenFor(x => x.Id)
    </li>
</ul>



