﻿@model BrightonSausageCoEcomms.ViewModels.Admin.ProductViewModel

<ul>
    <li>
        @Html.LabelFor(x => x.ProductName)
        @Html.TextBoxFor(x => x.ProductName)
        @Html.ValidationMessageFor(x => x.ProductName)
    </li>
    <li>
        @Html.LabelFor(x => x.ProductShortDescription)
        @Html.TextBoxFor(x => x.ProductShortDescription)
        @Html.ValidationMessageFor(x => x.ProductShortDescription)
    </li>
    <li>
        @Html.LabelFor(x => x.ProductDescription)
        @Html.TextBoxFor(x => x.ProductDescription)
        @Html.ValidationMessageFor(x => x.ProductDescription)
    </li>
    <li>
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price)
        @Html.ValidationMessageFor(x => x.Price)
    </li>
    <li>
        @Html.LabelFor(x => x.Enabled)
        @Html.CheckBoxFor(x => x.Enabled)
    </li>
    <li>
        @Html.LabelFor(x => x.Published)
        @Html.CheckBoxFor(x => x.Published)
    </li>

</ul>
Categories:
@Html.EditorFor(x => x.AvalailableCategories)
@Html.HiddenFor(x => x.Slug)
@Html.HiddenFor(x => x.Id)
