<p>Second day; second blast on the site: Adding SpecFlow step definitions and driving the UI through Coypu / Selenium. I'll also take a look into the DB choice.</p>

<p>I've wired up an MVC4 app with Castle Windsor IoC and added references to Nunit, FluentAssertions, Moq and Coypu to the behaviors project and made sure it's all ready to go.</p>

<p>To start we want to drive the whole development from the UI down. To do this I want to have the story I created yesterday turned into steps I can use to drive a regression test through the browser - as it's a browser based app. To begin then, I copy that same story into specflow and generate the step definitions:

<h2>SpecFlow:</h2>

<a href="http://1.bp.blogspot.com/-AO6pPJKeIU4/UH0pp6yKI5I/AAAAAAAACGI/93OQR-u99kQ/s1600/day2.1.PNG" imageanchor="1" style=""><img border="0" height="195" width="320" src="http://1.bp.blogspot.com/-AO6pPJKeIU4/UH0pp6yKI5I/AAAAAAAACGI/93OQR-u99kQ/s320/day2.1.PNG" /></a>

<h2>Gist:</h2>
<script src="https://gist.github.com/3898319.js?file=ManageProductCategoriesSteps.cs"></script>

<p>The output from the generate steps command gives us the skeleton with which we can build out the tests for the UI. Let's go through each of the steps and populate them with the stuff we need:</p>

<h3>[Given(@"I am an admin user and I have logged in")]</h3>
<p>Considering we aren't going to bother with security and logining in yet I can leave this one blank for now. There's something you can do to tell SpecFlow that it's not going to be implemented yet but I don't have internet here so can't google it. I'll come back to that when I'm on the train tomorrow morning. For now I can leave a //TODO: remark and it will be added to the task list in Visual Studio.</p>

<h3>[Given(@"I have navigated to the manage categories screen")]</h3>
<p>This is where we can start adding actual code! To drive the user we use a thing called BrowserSession - this is a Coypu thing. You tell it how to drive the browser and it takes care of pushing stuff to selenium. To get one I add the following to the specflow steps file:</p>

<pre class="brush: csharp"> 

public BrowserSession BrowserSession
{
    get
    {
        if (FeatureContext.Current.ContainsKey("BrowserSession"))
        {
            return (BrowserSession)FeatureContext.Current["BrowserSession"];
        }

        var sessionConfiguration = new SessionConfiguration
                                       {
                                           Timeout = TimeSpan.FromMilliseconds(1000)
                                       };

        var browserSession = new BrowserSession(sessionConfiguration);
        FeatureContext.Current.Add("BrowserSession", browserSession);
        return browserSession;
    }
}

</pre>

<p>There's some stuff going on here that works the way specflow expects it to work - notedly the FeatureContext stuff. Maybe chat about that more later - if not - google it ;)</p>

<p>With that we can start to drive the UI (note I have set up VS to fire the site up using a static port - i could have added a hosts file entry to resolve some DNS and set up IIS so that it could handle it):</p>

<pre class='brush: csharp'> 
 BrowserSession.Visit("http://localhost:4334//admin/categories");
</pre>

<p>Now, if I go back to the specflow file and hit ctrl>t+r (resharper shortcut for run tests) I see that firefox is spun up to the URL we specified and gets a 404. We have a failing step! The reason is obvs because there is nothing in the site to resolve that URL. To make this pass we need to tell the server how to handle requests on that URL. The way MVC knows how to handle requests and forward them to controllers / actions  is by it's routing mechanism. So the very first step we need to make this step pass is to configure the routing. To do this in a TDD way we need to go down a level and add a behavior to check that the routing is configured.</p>

<p>To do this I need a place to hold the routing behaviors. I'll add a new folder called Routing to the AdminRoutingBehaviors.cs file into that folder.</p>

<h2>Emergent design</h2>
<p>At this point I'll introduce a small helper which will take a URL and return the route data:</p>

<pre class="brush: csharp"> 
 private static RouteData GetRouteData(string url)
{
    var routes = new RouteCollection();
    RouteConfig.RegisterRoutes(routes);

    var httpContextMock = new Mock<HttpContextBase>();
    httpContextMock.Setup(c => c.Request.AppRelativeCurrentExecutionFilePath)
        .Returns(url);

    return routes.GetRouteData(httpContextMock.Object);
}
</pre>

<p>So... emergent design: This is where we allow the flow of the test to really drive the development and design of the software. Here's some info on <a href="http://www.agilesherpa.org/agile_coach/engineering_practices/emergent_design/">AgileSherpa</a> on the topic. Here's some info on the IBM website about <a href="http://www.ibm.com/developerworks/java/library/j-eaed2/index.html#N1015B">evolving architecture and emergent design</a> </p>

<p>I want to make sure the URL "admin/categories" can be handled by the routing system. A lame but sufficient name might be: When_navigating_to_manage_categories_url_result_is_correct. It's not that great but it will do for now :)</p>

<p>Starting with what we know about this behavior - we want to have some result - and it will be the result we expect. I.e. it will be from the admin controller and it will be the categories action. That's enough to get us started. The very first line we write might be (using fluent assertions):</p>

<pre class='brush: csharp'>
action.Should().Be(expectedAction);
</pre>

<p>Now this is going to be glowing red all over VS as we have no action and whats more, trying to compare nothing to expectedAction which also doesn't exist is just never going to work.</p>

<a href="http://4.bp.blogspot.com/-oeJJgs83TBM/UH0rGfAbf2I/AAAAAAAACGU/nBFRAD32OFw/s1600/day2.2.PNG" imageanchor="1" style=""><img border="0" height="87" width="320" src="http://4.bp.blogspot.com/-oeJJgs83TBM/UH0rGfAbf2I/AAAAAAAACGU/nBFRAD32OFw/s320/day2.2.PNG" /></a>



<p>Move the cursor to expectedAction and hit ctrl>space to get resharper to offer contextual help and select "Create local variable expectedAction". Make it a const string and give it a value (you should keep using resharper alt+enter to use contextual help to get to this - try not to use the mouse):</p>

<pre class='brush: csharp'>
const string expectedAction = "categories";
</pre>

<p>Now hover over the result declaration and do the same. This time make it equal to the return value of GetRouteData:</p>

<pre class='brush: csharp'>
var result = GetRouteData(url);
</pre>

<p>We now have another variable that needs declaring: url. Move the cursor over that and hit alt enter. This time it's going to be a const string again:</p>

<pre class='brush: csharp'>
const string url = "~/admin/categories";
</pre>

<p>Add to that the test for checking the controller part of the url is correct and you should have:</p>

<pre class='brush: csharp'>
[TestFixture]
public class AdminRoutingBehaviors
{
    [Test]
    public void When_navigating_to_manage_categories_url_result_is_correct()
    {
        const string expectedAction = "categories";
        const string expectedController = "Admin";
        const string url = "~/admin/categories";
        var result = GetRouteData(url);
        result.Values["Action"].Should().Be(expectedAction);
        result.Values["Controller"].Should().Be(expectedController);
    }

    private static RouteData GetRouteData(string url)
    {
        var routes = new RouteCollection();
        RouteConfig.RegisterRoutes(routes);

        var httpContextMock = new Mock<HttpContextBase>();
        httpContextMock.Setup(c => c.Request.AppRelativeCurrentExecutionFilePath)
            .Returns(url);

        return routes.GetRouteData(httpContextMock.Object);
    }
}
</pre>

<p>The test is complete in that it will test what we want to test - but it still won't pass - hit ctrl>t+r and you'll see red. To get this to actually pass we need to implement the code in the RouteConfig class in the Mvc project. The route we want looks like: </p>

<pre class='brush: csharp'>
routes.MapRoute(
    name: "AdminCategories",
    url: "Admin/Categories",
    defaults: new { controller = "Admin", action = "Categories" }
);
</pre>

<p>Heading back over to our specflow file and spinning up the tests still results in a 404! Obviously because sure as shit we've not got a controller or corresponding action to route the request to! To get that done I'm going to need more tests. I'll add a Controllers folder to the behaviors project and inside that I'll add an AdminControllerBehaviors.cs file. I've come up with another snazzy method name for the first test in this class: When_requesting_the_categories_admin_page_result_is_correct</p>

<p>Let's start with the result again and work out from there:</p>

[emersive design video]

<p>Heading back over to the specflow test we're going to find that it still doesn't let us get valid because there's no view to return. We can add a blank view now. Now the specflow test should be showing yellow. This was only a [Given] part of the test - the test setup for the feature if you like. The next step is to implement the first part of the scenario: </p>

<pre class='brush: csharp'>
Given I click the "Add category" button
</pre>

<p>Maps to the following step:</p>

<pre class='brush: csharp'>
[Given(@"I click the ""(.*)"" button")]
public void GivenIClickTheButton(string p0)
{
    BrowserSession.ClickLink("Register");
}
</pre>

<p>To speed this up I'm going to populate all of the steps in this feature and then I can go through and implement them. I end up with the following steps:</p>

<pre class='brush: csharp'>
[Given(@"I am an admin user and I have logged in")]
public void GivenIAmAnAdminUserAndIHaveLoggedIn()
{
    //todo: come back to this
}

[Given(@"I have navigated to the manage categories screen")]
public void GivenIHaveNavigatedToTheManageCategoriesScreen()
{
    BrowserSession.Visit("http://localhost:4334/admin/categories");
}

[Given(@"I click the ""(.*)"" button")]
public void GivenIClickTheButton(string p0)
{
    BrowserSession.ClickLink("Register");
}

[Given(@"I enter ""(.*)"" into the ""(.*)"" textbox")]
public void GivenIEnterIntoTheTextbox(string p0, string p1)
{
    BrowserSession.FillIn(p1).With(p0);
}

[Given(@"I ensure the ""(.*)"" checkbox is ""(.*)""")]
public void GivenIEnsureTheCheckboxIs(string p0, bool p1)
{
    if (p1)
    {
        BrowserSession.Check(p0);
    }
    else
    {
        BrowserSession.Uncheck(p0);
    }
}

[When(@"I click the ""(.*)"" button")]
public void WhenIClickTheButton(string p0)
{
    BrowserSession.ClickButton(p0);
}

[Then(@"I should see ""(.*)"" show up in the list of existing categories")]
public void ThenIShouldSeeShowUpInTheListOfExistingCategories(string p0)
{
    BrowserSession.FindSection(p0).Exists().Should().BeTrue();
}

[Then(@"it should be enabled")]
public void ThenItShouldBeEnabled()
{
    BrowserSession.FindXPath("//tr[@class='category']/td[@class='activated']");
}
</pre>
