﻿@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Brighton Sausage Co.</title>
<link rel="stylesheet" type="text/css" href="~/assets/css/bs.css" />
<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="~/assets/css/ie8.css" />
<![endif]-->
<meta http-equiv="description" name="description" content="" />
<meta http-equiv="keywords" name="keywords" content="" />
</head>

<body>
 @Html.Partial("DisplayTemplates/Header")
<div id="homebannerbg">
	<div id="homebannertitle">
    <p class="hometitle"><img src="~/assets/images/hometitle.png" alt="AT BRIGHTON SAUSAGE CO. WE HAVE ONE SIMPLE AIM" /></p>
    <p class="homesep"><img src="~/assets/images/hometitlesep.png" /></p>
    <p class="homesubtitle"><img src="~/assets/images/homesubtitle.png" alt="TO PRODUCE THE BEST SAUSAGE YOU HAVE EVER TASTED." /></p>
    </div>
</div><!-- /banner -->
<div id="maincontent">
	<div id="wrap">
        <div id="left">
           
            <div id="homepic"><img src="~/assets/images/homepic.jpg" alt="" /></div>
            
            <!-- TESTIMONIALS -->
            <div id="smallboxtop"></div>
            <div id="smallbox">
            	<div id="testimonial">
                	<p class="test">GREAT VARIETY...<br />BEST SAUSAGES I HAVE<br />EVER TASTED!</p>
                    <div id="dottedhr"></div>
                    <p class="more"><a href=""><img src="~/assets/images/findoutmore.jpg" alt="FIND OUT MORE" border="0" /></a></p>
                </div>
            </div>
            <div id="smallboxbottom"></div>
            <!-- /TESTIMONIALS -->
        </div><!-- /left -->
        
        <div id="right">
            <div class="sep"></div>
            <div id="homeblurb"><img src="~/assets/images/hometext.png" alt="Our innovative approach to sausage making enables us to offer a range of over 50 different types of sausage, including many gluten and wheat free varieties." /></div>
            <div class="sep"></div>
           
           	<div id="homecolleft"><p>All of the main ingredients in our sausages are sourced from within the uk, and our suppliers are chosen with a keen focus on animal welfare and the quality and consistency of the product. We only use natural casings and our sausages contain no artifical flavourings or colourings.</p>
<p>Situated in the heart of the North Laine shopping area, we are proud to be part of a unique collection of small retailers offering quality and diversity to the local community and to Brighton's many visitors.</p>
           </div><!-- /homecolleft -->
           <div id="homecolright"><p>While sausages are our primary product, we also have a well stocked cheese counter, an impressive selection of dry cured meats and shelves full of tasty treats to compliment our fresh products. If you are passing by, please pop in and allow us to tempt you.</p>
           </div><!-- /homecolright -->
            
        </div><!-- /right -->
	</div><!-- /wrap -->
</div><!-- /maincontent -->
<!-- FOOTER -->
<div id="footer">
	<div id="footercontent">
    	<div id="footerleft">
        	<ul>
            	<li><a href="">HOME</a></li>
            	<li><a href="">ABOUT</a></li>
            	<li><a href="">PRODUCTS</a></li>
            	<li><a href="">CLIENTS/SUPPLIERS</a></li>
            	<li><a href="">CONTACT</a></li>
            	<li><a href="">ON-LINE SHOP</a></li>
            </ul>
        	<p class="footerdetails"><a href="">Terms &amp; Conditions</a> &ndash; <a href="">Privacy Policy</a> &ndash; Copyright Brighton Sausage Co. &copy; 2012</p>
        </div>
        <div id="footerright">
        Web design by XXXXXXX
    	</div>
    </div><!-- /footercontent -->
</div><!-- /footer -->
</body>
</html>

