
html, body {
	margin:0;
	padding:0;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background:white;
	font-family:'BebasNeueRegular', Arial, sans-serif;
}

/* ****** TOP SECTION ****** */

#logo {
	position:absolute;
	z-index:10;
	top:0;
	left:28px;
}

#top {
	height:137px;
	background:white;
}

#navsection {
	float:right;
	margin:24px 24px 0 0;
}

/* BASKET BOX */

#basketbox {
	width:363px;
	height:36px;
	background:url(../images/basketbg.jpg) no-repeat;
	float:right;
	margin-bottom:4px;
	padding:5px 0 0 18px;;
}

#basket {
	width:29px;
	float:left;
	margin:9px 0 0 0;
}

#viewbasket {
	width:78px;
	float:left;
	margin:7px 16px 0 0;
}

#viewbasket a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#B5B5B5;
	text-decoration: none; 
	border-bottom:1px dotted;
}

#numitems {
	width:68px;
	float:left;
	color:#335B79;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:8px 0 0 0;
}

#basketboxtotal {
	width:67px;
	float:left;
	color:#335B79;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:8px 0 0 0;
}

#checkoutbtn {
	float:left;
}

/* NAVIGATION */

#nav {
	clear:both;
	float:right;
}

#nav ul {
	list-style-type:none;
}

#nav ul li {
	float:left;
	margin-left:33px;
	padding-bottom:3px;
	border-bottom:1px solid #50B4E1;
}

#nav ul li a {
	color:#335B79;
	font-size:18px;
	text-decoration:none;
}

/* BANNER */

#homebannerbg {
	height:301px;
	background:url(../images/homeheader.jpg) no-repeat;
	color:white;
	font-size:40px;
	padding-top:82px;
}

#banner {
	height:60px;
	background:#141D43;
	color:white;
	font-size:40px;
	padding-top:62px;
}

#bannerbg {
	height:60px;
	background:url(../images/headerbg.jpg) no-repeat #141D43;
	color:white;
	font-size:40px;
	padding-top:62px;
}

#homebannertitle {
	width:380px;
	margin:0 auto;
	text-align:center;
}

#bannertitle {
	width:940px;
	margin:0 auto;
}

.breadcrumbcurrent {
	color:#169BD7;
}

p.hometitle {
	margin:0 0 15px 0;
	padding:0;
}

p.homesep {
	margin:0 0 30px 0;
	padding:0;
}

p.homesubtitle {
	margin:0;
	padding:0;
}

/* ****** /TOP SECTION ****** */

/* ****** MAIN CONTENT ****** */

#maincontent {
	background:#E9E6E0;
	border-top:10px solid white;
	overflow:auto;
	-moz-box-shadow:0px 0px 7px 0px #777777;
	-webkit-box-shadow:0px 0px 7px 0px #777777;
	box-shadow:0px 0px 7px 0px #777777;
	position:relative;
	z-index:20;
}

#wrap {
	width:940px;
	margin:0 auto;
}

#left {
	width:300px;
	float:left;
	margin:23px 22px 0 0;
}

#right {
	width:618px;
	float:left;
	margin:23px 0 0 0;
}

/* LEFT COLUMN */

.leftmenu {
	clear:both;
	width:274px;
	height:37px;
	background:white;
	border-top:1px solid #D6D6D6;
	padding:8px 10px 0 16px;
}

.leftmenufirst {
	border-top:2px solid #D6D6D6;
}

p.leftmenutext {
	float:left;
	margin:8px 0 0 0;
	padding:0;
}

p.leftmenuarrow {
	float:right;
	margin:0;
	padding:0;
}

.leftmenuresults ul {
	list-style-type:none;
	font-size:12px;
	color:#6F6F6F;
	margin:0;
	padding:0;
}

.leftmenuresults ul a {
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.leftmenuresults ul a:hover {
	text-decoration:underline;
}

.leftmenuresults ul li {
	width:283px;
	height:22px;
	padding:7px 0 0 17px;
}

.leftmenuresults ul li.stripe {
	width:283px;
	height:22px;
	background:#F2F0EC;
	padding:7px 0 0 17px;
}

#homepic {
	width:299px;
	height:148px;
	background:url(../images/homepicframe.jpg) no-repeat;
	padding:14px 0 0 15px;
	margin:4px 0 0 -7px;
}

/* TESTIMONIALS */

#smallboxtop {
	width:314px;
	height:15px;
	background:url(../images/smallboxtop.jpg) no-repeat;
	margin-left:-7px;
	margin-top:8px;
}

#smallbox {
	width:314px;
	background:url(../images/smallboxmid.jpg) repeat-y;
	margin-left:-7px;
	padding:4px 0 4px 0;
}

#smallboxbottom {
	width:314px;
	height:15px;
	background:url(../images/smallboxbottom.jpg) no-repeat;
	margin-left:-7px;
}

#testimonial {
	width:274px;
	min-height:184px;
	border:1px solid #D6D6D6;
	margin:0 0 0 19px;
	padding:22px 0 0 0;
	background:url(../images/quotes.jpg) no-repeat;
}

#testimonial p.test {
	margin:0;
	padding:0;
	height:110px;
	color:#335B7A;
	font-size:30px;
	line-height:32px;
	text-align:center;
}

#testimonial p.more {
	text-align:center;
}

#dottedhr {
	width:273px;
	height:1px;
	background:url(../images/dottedhr.jpg) no-repeat;
	margin:15px 0 15px 0;
}

#shorthr {
	width:299px;
	height:2px;
	background:url(../images/shorthr.jpg) no-repeat;
}

/* RIGHT COLUMN */

#homeblurb {
	margin:33px 0 39px 0;
}

#homecolleft {
	width:300px;
	float:left;
	margin:4px 10px 50px 0;
}

#homecolright {
	width:300px;
	float:left;
	margin:4px 0 0 0;
}

#homecolleft p, #homecolright p {
	width:300px;
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
}

/* TOP BAR */

#righttop {
	width:593px;
	height:36px;
	background:white;
	border-top:2px solid #D6D6D6;
	padding:9px 12px 0 13px;
}

.righttopprice {
	width:63px;
	float:left;
	margin-top:7px;
}

.righttoppriceorder {
	float:left;	 
}

.righttopback {
	width:22px;
	float:left;
	margin-right:12px;
}

.righttopcategory {
	float:left;
	margin:7px 0 0 0;
}

.righttopresults {
	float:right;
}

.customSelect {
 	width:45px;
 	height:22px;
  	background:url(../images/selectbg.jpg) right center no-repeat;
  	font-family:Arial, Helvetica, sans-serif;
	color:#6F6F6F;
  	font-size:12px;
	padding:8px 0 0 10px;
}
.customSelect.customSelectOpen {
	background: url(../images/selectbg.jpg) right center no-repeat;
}
.customSelect.customSelectFocus {
    
}
.customSelectInner {
    /* You can style the inner box too */
}
select.numresults option:hover {
    background-color:#F2F0EC;
}

img.glow {
	-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

img.glow:hover {
	border-color: rgba(82, 168, 236, 0.8);
  	outline: 0;
  	outline: thin dotted \9;
  	/* IE6-9 */

 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* PRODUCTS */

.sep {
	border-bottom:2px solid #D6D6D6;
	margin:12px 0 2px 0;
}

.productbgtop {
	width:634px;
	height:13px;
	background:url(../images/productbgtop.jpg) no-repeat;
	margin-top:8px;
	margin-left:-7px;
}

.productbgtopplain {
	width:634px;
	height:13px;
	background:url(../images/productbgtopplain.jpg) no-repeat;
	margin-top:8px;
	margin-left:-7px;
}

.productbg {
	width:634px;
	background:url(../images/productbgmid.jpg) repeat-y;
	padding:4px 0 4px 0;
	margin-left:-7px;
	overflow:auto;
}

.productbgplain {
	width:634px;
	background:url(../images/productbgmidplain.jpg) repeat-y;
	padding:4px 0 4px 0;
	margin-left:-7px;
	overflow:auto;
}


.productbgbottom {
	width:634px;
	height:14px;
	background:url(../images/productbgbottom.jpg) no-repeat;
	margin-left:-7px;
}	

.productbgbottomplain {
	width:634px;
	height:14px;
	background:url(../images/productbgbottomplain.jpg) no-repeat;
	margin-left:-7px;
	margin-bottom:20px;
}

img.productmainimage {
	margin:3px 0 14px 21px;
}

.productdetails {
	width:340px;
	min-height:213px;
	float:left;
	border:1px solid #D6D6D6;
	margin:4px 21px 0 20px;
	padding:9px 12px 0 21px;
}

.productdetailswide {
	width:558px;
	min-height:132px;
	float:left;
	border:1px solid #D6D6D6;
	margin:4px 21px 0 20px;
	padding:0 12px 20px 21px;
}

.productdetailsleft {
	width:340px;
	float:left;
	margin:9px 23px 0 0;
}

p.fulldetails {
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	width:340px;
	clear:left;
}

.productdetailsrightshadow {
	width:195px;
	float:left;
	margin-bottom:8px;
	background:url(../images/verticalshadow.jpg) no-repeat;
}

.productdetailsright {
	width:216px;
	float:left;
	margin-bottom:8px
}

.productimg {
	width:202px;
	float:left;	
}

p.producttitle {
	float:left;
	color:#335B79;
	font-size:28px;
	margin:0 0 3px 0;
}

p.productprice {
	float:right;
	color:#189BD7;
	font-size:28px;
	margin:0;
}

p.producttext {
	clear:both;
	height:97px;
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	width:340px;
	padding:21px 0 0 0;
	background:url(../images/dots.jpg) no-repeat;	
	border-bottom:1px solid #D6D6D6;
}

.moreinfo {
	width:121px;
	float:left;
	margin:0 10px 0 0;
}

.addtobasket {
	width:121px;
	float:left;
	margin:0 9px 0 0;
}

input.weight {
	width:30px;
	height:28px;
	float:left;
	text-align:right;
	padding-right:5px;
}

.weightkg {
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#6F6F6F;
	font-size:14px;
	font-weight:bold;
	margin:6px 0 0 10px;
}

.productdetailweight {
	margin:15px 0 0 70px;
}

.productdetailaddtobasket {
	clear:left;
	margin:0 0 0 41px;
	padding-top:7px;
}

#additionalpics {
	margin:16px 0 0 21px
}

.additionalframe {
	width:71px;
	height:67px;
	background:url(../images/additionalframe.jpg) no-repeat;
	padding:9px 0 0 10px;
	float:left;
}

.additionalinfo {
	width:545px;
	border-top:1px solid #D6D6D6;
	clear:left;
	padding-top:7px;
}

.additionalleft {
	width:340px;
	float:left;
	margin-right:23px;
}

.additionalright {
	width:182px;
	float:left;
}

.additionaltext {
	clear:left;
	border-top:1px solid #D6D6D6;
}

.additionaltext p {
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	width:340px;
	clear:left;
}

ul.ingredients {
	list-style-type:none;
	margin:10px 0 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#6F6F6F;
	font-size:11px;
}

ul.ingredients li.stripe {
	width:171px;
	height:18px;
	background:#F6F6F6;
	padding:3px 5px 0 5px;	
}

ul.ingredients li {
	width:171px;
	height:16px;	
	padding:3px 5px 0 5px;	
}

.ingredientleft {
	float:left;
}

.ingredientright {
	float:right;
}

.relatedpic {
	width:193px;
	float:left;
	margin:4px 10px 0 -7px;
}

.relatedpicholder {
	width:183px;
	height:105px;
	background:url(../images/relatedpicframe.jpg) no-repeat;
	padding:14px 0 0 15px;	
}

.relatedinfo {
	width:215px;
	float:left;
	margin:0 10px 0 0;
}

.relatedinfo p {
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	width:204px;
}

.relatedmoreinfo {
	float:left;
	margin:43px 0 0 0;
}

/* PAGINATION */

#pagination {
	width:618px;
	height:37px;
	background:white;
	border-top:2px solid #D6D6D6;
	padding:8px 0 0 0;
	text-align:center;
	margin:10px 0 70px 0;
}

#pagination p {
	width:618px;
	margin:0;
	padding:0;
	text-align:center;
}

#pagination ul {
	list-style-type:none;
	margin:0 auto;
	padding:0;
	width:165px;
}

#pagination ul li {
	font-family:Arial, Helvetica, sans-serif;
	float:left;
}

#pagination ul li a {
	text-decoration:none;
	color:#6F6F6F;
	font-size:12px;
}

#pagination ul li a.pagedir {
	margin:0 10px 0 10px;
}

#pagination ul li a.pagenum {
	width:22px;
	height:26px;
	display:block;
	background:url(../images/pagenumbg.jpg) no-repeat;
	padding-top:5px;
}

#pagination ul li a.pagenumcurrent {
	width:22px;
	height:26px;
	display:block;
	font-weight:bold;
	padding-top:5px;
}

/* ****** FOOTER ****** */

#footer {
	height:159px;
	background:url(../images/spatter.jpg) no-repeat right #D6D6D6;
	z-index:1;
}

#footercontent {
	width:940px;
	margin:0 auto;
}

#footerleft {
	width:600px;
	float:left;
	margin-top:50px;
}

#footerleft ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#footerleft ul li {
	float:left;
	margin-right:32px;
	margin-bottom:10px;
}

#footerleft ul li a {
	color:#6F6F6F;
	text-decoration:none;
	font-size:19px;
}

p.footerdetails {
	clear:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#6F6F6F;
	font-size:10px;
	margin-top:10px;
}

p.footerdetails a {
	color:#6F6F6F;
	text-decoration:none;
}

#footerright {
	float:right;
	color:#6F6F6F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:84px 0 0 0;
}