﻿@model BrightonSausageCoEcomms.ViewModels.Admin.CategoryViewModel
@{
    ViewBag.Title = "Add Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@section AdminSubNav{
    <div class="nav">
        <ul>
            <li>
                <a href="/admin/category">Categories</a>
            </li>
        </ul>
    </div>
}
<form method="POST" action="/admin/category/add">
    @Html.EditorForModel()
    <input type="submit" name="Save" id="Save" value="Save" />
    <input type="submit" name="CategoryAddCancel" id="Cancel" value="Cancel" />
</form>
