﻿@using BrightonSausageCoEcomms.Infrastructure
@model BrightonSausageCoEcomms.ViewModels.Admin.CategoryListViewModel
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@section AdminSubNav{
    <div class="nav">
        <ul>
            <li><a href="/admin">Admin home</a></li>
            <li><a href="/admin/category/add">Add category</a></li>
        </ul>
    </div>
}
<table width="300px">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Enabled?</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Categories.Count; i++)
    {
        <tr class="category" id="category-@Model.Categories[i].Slug">
            <td>@Model.Categories[i].Name</td>
            <td class="@(Model.Categories[i].Enabled ? "enabled" : "disabled")">@(Model.Categories[i].Enabled ? "yes" : "no")</td>
            <td>@Html.ActionLink("edit", "CategoryEdit", "Admin", new { categoryId = Model.Categories[i].Id }, new { @id = "test" })</td>
            <td>@Html.ActionLink("delete", "CategoryDelete", "Admin", new { categoryId = Model.Categories[i].Id }, new { @id = "test" })</td>
        </tr>
    }
</table>
