﻿@model dynamic

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section AdminSubNav{
    <div class="nav">
        <ul>
            <li>
                <a href="/admin/category">Categories</a>
            </li>
            <li>
                <a href="/admin/product">Products</a>
            </li>
        </ul>
    </div>
}

<p>
    Going to display all of the awaiting orders here.
</p>