﻿@model BrightonSausageCoEcomms.ViewModels.Admin.ProductImageViewModel
@{
    ViewBag.Title = "Manage Images";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@section AdminSubNav{
    <div class="nav">
        <ul>
            <li>
                <a href="/admin/product">Products</a>
                <a href="/admin/product/@Model.Id">Back to @Model.ProductName</a>
            </li>
        </ul>
    </div>
}
<form method="POST" action="/admin/product/image/@Model.Id" enctype="multipart/form-data">
    <ul>
        <li>
            <input type="file" name="ProductImage" id="ProductImage" />
            @Html.HiddenFor(x => x.Id)
        </li>
    </ul>

    <input type="submit" name="ProductImageUpload" id="Upload" value="Upload" />
    <input type="submit" name="ProductImageCancel" id="Cancel" value="Cancel" />

    @Html.HiddenFor(x => x.Id)
    <ul>
        @foreach (var image in Model.Images.OrderBy(x => x.DisplayOrder))
        {
            <li class="image-original-name">Original name: @image.OriginalFileName</li>
            <li class="image-stored-name">Stored name: @image.StoredFileName</li>
            <li class="product-image">
                <img src="/content/uploaded/@image.StoredFileName"/></li>
            <li>
                <input type="submit" name="ProductImageDelete:@image.Id" id="Delete_@image.Id" value="Delete" /></li>
            <li>
                <input type="submit" name="ProductImageMoveUp:@image.Id" id="MoveUp_@image.Id" value="Move up" /></li>
            <li>
                <input type="submit" name="ProductImageMoveDown:@image.Id" id="MoveDown_@image.Id" value="Move down" /></li>
        }
    </ul>

    <input type="submit" name="ProductImageSave" id="Save" value="Save" />
</form>
