﻿@model BrightonSausageCoEcomms.ViewModels.Admin.ProductListViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@section AdminSubNav{
    <div class="nav">
        <ul class="nav nav-pills">
            <li><a href="/admin">Admin home</a></li>
            <li><a href="/admin/product/add">Add Product</a></li>
        </ul>
    </div>
}

<table width="300px">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Enabled?</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Products.Count; i++)
    {
        <tr class="category" id="category-@Model.Products[i].Slug">
            <td>@Model.Products[i].Name</td>
            <td class="@(Model.Products[i].Published ? "enabled" : "disabled")">@(Model.Products[i].Published ? "yes" : "no")</td>
            <td>@Html.ActionLink("edit", "ProductEdit", "Admin", new { productId = Model.Products[i].Id }, new { @id = "test" })</td>
            <td>@Html.ActionLink("delete", "ProductDelete", "Admin", new { productId = Model.Products[i].Id }, new { @id = "test" })</td>
        </tr>
    }
</table>
