﻿@model BrightonSausageCoEcomms.ViewModels.Admin.ProductViewModel
@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@section AdminSubNav{
    <div class="nav">
        <ul>
            <li>
                <a href="/admin/product">Products</a>
            </li>
        </ul>
    </div>
}

<form method="POST" action="/admin/product/edit">
    @Html.EditorForModel()
    <input type="submit" name="Save" id="Save" value="Save" />
    <input type="submit" name="ProductEditCancel" id="Cancel" value="Cancel" />
    <a href="/admin/product/edit/image/@Model.Id">Manage images</a>
</form>
