﻿@model BrightonSausageCoEcomms.ViewModels.Admin.ProductViewModel
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@section AdminSubNav{
    <div class="nav">
         <ul>
        <li>
            <a href="/admin/product">Products</a>
        </li>
    </ul>
    </div>
}
<form method="POST" action="/admin/product/add">
    @Html.EditorForModel()
    <input type="submit" name="Save" id="Save" value="Save" />
    <input type="submit" name="ProductAddCancel" id="Cancel" value="Cancel" />
</form>