﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bs.css" />
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="~/assets/css/ie8.css" />
        <![endif]-->
    <meta http-equiv="description" name="description" content="" />
    <meta http-equiv="keywords" name="keywords" content="" />
    <script src="~/Scripts/jquery-1.6.2.js"></script>
    <script type="application/javascript" src="~/assets/js/customSelect.jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('select.numresults').customSelect();
        });
    </script>
</head>
<body>

    <div id="logo">
        <a href="#">
            <img src="~/assets/images/logo.png" alt="Brighton Sausage Co., Est. 2006" border="0" /></a>
    </div>
    <div id="top">
        <div id="navsection">
          

          
            @Html.Partial("DisplayTemplates/Navigation")

            @RenderSection("AdminSubNav", true)

        </div>
    </div>


    <div id="banner">
        <div id="bannertitle">ONLINE SHOP / SAUSAGES / <span class="breadcrumbcurrent">PORK</span></div>
    </div>
    <!-- /banner -->
    <div id="maincontent">
        <div id="wrap">
            @RenderBody()
        </div>
        <!-- /wrap -->
    </div>
    <!-- /maincontent -->



    @Html.Partial("DisplayTemplates/Footer")


</body>
</html>
