﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/assets/css/bs.css" />
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="~/assets/css/ie8.css" />
<![endif]-->
    <meta http-equiv="description" name="description" content="" />
    <meta http-equiv="keywords" name="keywords" content="" />
    <script src="~/Scripts/jquery-1.6.2.js"></script>
    <script type="application/javascript" src="~/assets/js/customSelect.jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('select.numresults').customSelect();
        });
    </script>

    @*<script id="googlecart-script" type="text/javascript"
        src="http://checkout.google.com/seller/gsc/v2/cart.js?mid=344428687790655"
        currency="GBP" post-cart-to-sandbox="true">
    </script>*@
   
</head>
<body>


    @Html.Partial("DisplayTemplates/Header")


    <div id="banner">
        <div id="bannertitle">ONLINE SHOP / SAUSAGES / <span class="breadcrumbcurrent">PORK</span></div>
    </div>
    <!-- /banner -->
    <div id="maincontent">
        <div id="wrap">
            @RenderBody()
        </div>
        <!-- /wrap -->
    </div>
    <!-- /maincontent -->



    @Html.Partial("DisplayTemplates/Footer")
</body>
</html>
